{% extends 'offer/offer_base.html' %}

{% block title %}
	Умный город
{% endblock %}

 {% block body %}
 	<div class="jumbotron jumbotron-fluid">
  <div class="container">

  {% endblock %}

  {% block content %}
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
  
<div class="card card-image" style="background-image: url(https://i.imgur.com/0dms5m0.png);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      
      <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> </h5>
      <h2 class="card-title h2 my-4 py-2"> Saint-Petersburg is a smart city!</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5"></p>
      

    </div>
  </div>
</div>

	

<div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5">

  
  <h2 class="card-title h2">Санкт-Петербург - умный город</h2>

  
  <p class="my-4 h6">ДЕЛАЕМ ЛУЧШЕ <strong>ВМЕСТЕ</strong></p>

  
  <div class="row d-flex justify-content-center">

    
    <div class="col-xl-7 pb-2">

      <p class="card-text">На нашем сайте вы можете:</p>
	  <li><strong>Создать предложения по решению актуальных проблем</strong></li>
	<li><strong>Голосовать за понравившиеся Вам предложения </strong> </li>
	<li><strong>Комментировать предложения других пользователей</strong> </li>

    </div>
 

  </div>
 

  <hr class="my-4 rgba-white-light">

  <div class="text-right">
    <p class="my-4 h6"  > Создано при поддержке Code&Luck</p>
  </div>

</div>
</div>
{% endblock %}
