{% extends 'offer/offer_base.html' %}

{% block title %}
    {{ offer.title }}
{% endblock %}


{% block content %}
    <h1 class="mt-4">
        {{ offer.title }}
    </h1>
    <p>
        <img src="{{ offer.img }}" class="card-img-top" alt="">
    </p>
    <p>
        Описание:
    </p>
    <p>
        {{ offer.body }}
    </p>
    
    <a  class="card-text" >Рейтинг: </a>
    <a class="card-text" id="rating" >{{ offer.rating }}</a>
    <div class="text-right">
    
    {% if user.is_authenticated and offer.oftype == "ac"%}
          <div class="btn-group">
            <button type="button" id="rate_pos" onclick="onrate(event.currentTarget.value, true, 'rating', 'rate_pos', 'rate_neg')" value={{ offer.pk }} {% if hasrated and ratedpos %} class="btn btn-primary active" {% else %} class="btn btn-sm btn-outline-secondary" {% endif %}  >+1</button>
            <button type="button" id="rate_neg" onclick="onrate(event.currentTarget.value, false, 'rating', 'rate_pos', 'rate_neg')" value={{ offer.pk }} {% if hasrated and not ratedpos %} class="btn btn-primary active" {% else %} class="btn btn-sm btn-outline-secondary" {% endif %}>-1</button>
</div>
</div>
    {% endif %}

    <p></p>
    <div class="text-right">
        <p>
            был создан: {{ offer.date_pub }}
        </p>
    </div>
    <p></p>
    
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        function onrate(offer_pk, ispositive, rating_id, posbutton_id, negbutton_id) {
                    var request = new XMLHttpRequest();
                    
                    request.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var response = request.response;
                                document.getElementById(rating_id).innerHTML = response['rating'];
                                var posbutt = document.getElementById(posbutton_id);
                                var negbutt = document.getElementById(negbutton_id);
                                if (response['posbutton']) {
                                    posbutt.className = 'btn btn-primary active';
                                } else {
                                    posbutt.className = 'btn btn-sm btn-outline-primary';
                                }
                                
                                if (response['negbutton']) {
                                    negbutt.className = 'btn btn-primary active';
                                } else {
                                    negbutt.className = 'btn btn-sm btn-outline-secondary';
                                }
                            }
                        };
                    
                    request.open("POST", '/rateoffer/', true);
                    request.responseType = 'json';
                    
                    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    
                    // CSRF Token
                    request.setRequestHeader('X-CSRFToken', csrftoken); 
                    //
                    
                    request.send('offer_pk=' + offer_pk + '&ispositive=' + ispositive);
                }
                
    </script>
    
{% endblock %}