<div class="col">
  <div class="col-sm-4" style="max-width: 50rem;">
    <div class="card text-white bg-info mb-3" style="min-width: 20rem;" >
      <img src="{{ offer.img }}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ offer.title }}</h5>
        <p  class="card-text">{{ offer.body|truncatechars:50 }}</p>
        <a  class="card-text">Рейтинг: {{ offer.rating}}</a>
        <div class="text-right">
         <a href="{% url 'offer_detail_url' slug=offer.slug  %}" class="btn btn-primary stretched-link">открыть</a>
       </div>
         
      </div>
    </div>
  </div>
  <p></p>
</div>
